<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{/css/HeadAndFoot.css}">
</head>
<body>
<header th:replace="common_1 :: Header"></header>
<div class="mains">
    <main>
        <div th:each="article : ${list}" class="airts">
            <div class="lists">
                <h2>
                    <a th:href="@{/official/Personal/{id_a}(id_a=${article.id})}" th:text="${article.title}"></a>
                </h2>
                <p th:text="${#strings.abbreviate(article.summary, 30)}"></p>
            </div>
        </div>
    </main>
    <div th:replace="aside :: aside"></div>
</div>
<footer th:replace="common_1 :: Footer"></footer>
</body>
</html>