<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ニュース</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{/css/HeadAndFoot.css}">
</head>
<body>
<div th:replace="common_1 :: Header"></div>
<div class="mains">
    <main>
        <div th:each="article : ${list}">
            <h2>
                <a th:href="@{/official/Personal/{id_a}(id_a=${article.id})}" th:text="${article.title}"></a>
            </h2>
            <p th:text="${#strings.abbreviate(article.summary, 30)}"></p>
        </div>
    </main>
    <div th:replace="aside :: aside"></div>
</div>
<div th:replace="common_1 :: Footer"></div>
</body>
</html>