<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アンティラ</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{/css/HeadAndFoot.css}">
</head>
<body>
<header th:replace="common_1 :: Header"></header>
<div class="mains">
    <main>
        <form th:action="@{/Home}" method="post">
            <div>
                <h2>人気記事</h2>
                <div>
                    <div>
                        <img id="img" alt="" src="">
                        <h2></h2>
                        <p></p>
                    </div>
                    <div id="firsts">
                        <div>
                            <img class="imgs" alt="" src="">
                            <h2></h2>
                            <p></p>
                        </div>
                        <div>
                            <img class="imgs" alt="" src="">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2>新着人気記事</h2>
                <div></div>
            </div>
            <div>
                <h2>人気記事</h2>
                <div></div>
            </div>
        </form>
    </main>
    <aside th:replace="aside :: aside"></aside>
</div>
<footer th:replace="common_1 :: Footer"></footer>
</body>
</html>