<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{/css/HeadAndFoot.css}">
</head>
<body>
<div th:replace="common_1 :: Header"></div>
<!-- spring securityでログインチェック -->
<form th:action="@{/login}" method="post">
    <div class="userr">
        <dl>
            <dt>IDを入力してください</dt>
            <dd><input type="text" name="username"></dd>
            <dt>パスワードを入力してください</dt>
            <dd><input type="password" maxlength="15" name="password"></dd>

        </dl>
        <p th:if="${param.error}" style="color:red">
            ログインIDまたはパスワードが違います
        </p>
    </div>
    <button type="submit">ログイン</button>
    <a th:href="@{/Userconfig/NewUser}">新規会員登録</a>
</form>
<div th:replace="common_1 :: Footer"></div>
</body>
</html>